{%- capture class_desktop -%}
banner__image {{ Settings.banner_desktop_height }} {{ Settings.image_position }} {{ Settings.banner_desktop_object_fit }}
{%- endcapture -%}

{%- capture class_mobile -%}
banner__image {{ Settings.banner_mobile_height }} {{ Settings.banner_mobile_object_fit }}
{%- endcapture -%}

{% assign lazyload = true %}
{% if Settings.active_lazyload == false %}
{% assign lazyload = false %}
{% endif %}

<section id="section-{{ id }}" {% if Settings.section_spacing %} class="{{ Settings.section_spacing }}  {{ Settings.section_spacing_mobile }}" {% endif %} data-section-id="{{ id }}" data-section-type="banner">
	<div class="container--full banner">
		{% assign banner_content = blank %}
		{% assign banner_resp = blank %}
			<div class="banner-content">
				{% assign banner_content = Settings.image %}
				{% assign banner_resp = Settings.image_mobile %}
				{% if banner_content != blank %}
					<div class="image-container {% if banner_resp != blank %} only-desktop{% endif %}">
						{% include 'image' with dimensions : '1600x', img : banner_content, classes : class_desktop, lazyload : lazyload, __with_effect : true, responsiveSizes : false %}
					</div>
					{% if banner_resp != blank %}
					<div class="image-container only-mobile">
						{% include 'image' with dimensions : '600x', img : banner_resp, classes : class_mobile, lazyload : lazyload %}
					</div>
					{% endif %}
				{% endif %}
					<div class="{{ Settings.text_position }}">
						<div class="banner__text">
							<{{ Settings.heading_tag }} class="{% unless Settings.text_invert == false %}text--invert {% endunless %}banner__title heading {{ Settings.heading_class }}">{{ Settings.title }}</{{ Settings.heading_tag }}>
							<p class="{% unless Settings.text_invert == false %}text--invert {% endunless %} {% if Settings.hide_text_mobile == true %}only-desktop{% endif %} banner__description z-h7 mobile-container--large">{{ Settings.text }}</p>
							{% if Settings.text_invert == false %}
								{% assign button_type = 'button--primary button--large' %}
							{% else %}
								{% assign button_type = 'button--primary button--large' %}
							{% endif %}
							{% if Settings.link_1 != blank %}
								{% include 'button' with classes: button_type, text:Settings.link_1, href: Settings.url_1 %}
							{% endif %}
							{% if Settings.link_2 != blank %}
								{% include 'button' with classes: button_type, text:Settings.link_2, href: Settings.url_2 %}
							{% endif %}
						</div>
					</div>
				{% if Settings.google_link != blank %}
					<a target="_blank" href="{{ Settings.google_link }}">
						<div class="banner__google-link">
							{% include 'image' with img: Settings.google_image, classes : 'banner__google-image' %}
						</div>
					</a>
				{% endif %}
			</div>
	</div>
</section>
