<section data-carousel-container class="{% if section.settings.section_spacing %}{{ section.settings.section_spacing }} {% endif %} {{ section.settings.section_spacing_mobile }} section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="collection-slider">
	<div class="{% if section.settings.section_spacing %}{{ section.settings.section_spacing }} {% endif %} {{ section.settings.section_spacing_mobile }}"></div>

	<div class="collection-slider__article">
		<div class="collection-slider__header page-width--mobile align-left">
			<h2 class="z-h3 heading">
				{{ section.settings.title }}
			</h2>
			{% if section.settings.text != blank %}
			<div class="text--xlarge--desktop text collection-slider__text">
				{{ section.settings.text }}
			</div>
			{% endif %}
			{% if section.settings.cta_text != blank %}
				{% assign cta_url = section.settings.cta_url | default : sliderCollection.url %}
				<div class="collection-slider__button-container">
					{% include 'arrow-button' with classes:'secondary collection-slider__button', text : section.settings.cta_text, href: cta_url %}
				</div>
			{% endif %}
		</div>
		<div class="collection-slider__container">
			<div class="collection-slider__carousel carousel"  data-collection-slider='{ "groupCells" : true, "pageDots" : false, "prevNextButtons" : false, "wrapAround" : false}'>
				{% for cardProduct in sliderCollection.products limit : section.settings.product_max %}
					<div class="carousel-cell collection-slider__cell">
						{% include 'product-card' with classes : 'collection-slider__product', cardProduct : cardProduct %}
					</div>
				{% endfor %}
			</div>
			<div class="carousel__prev-next-container collection-slider__prev-next-container">
				<div data-carousel-prev class="carousel__prev-button">
					{% include 'icon-right-arrow' %}
				</div>
				<div data-carousel-next class="carousel__next-button">
					{% include 'icon-right-arrow' %}
				</div>
			</div>
		</div>
	</div>

	{% if section.settings.border_bottom_all %}
	<div class="page-width--mobile">
		<div class="collection--bordered"></div>
	</div>
	 {% elsif section.settings.border_bottom == true%}
	<div class="page-width">

	</div>
	{% endif %}
</section>
