<section class="{% if Settings.section_spacing %}{{ Settings.section_spacing }} {% endif %} {{ Settings.section_spacing_mobile }} section ingredients" id="section-{{ id }}" data-section-id="{{ id }}" data-section-type="vertical-scroll-timeline">
	<div class="page-width--desktop ingredients__container">
		<div class="ingredients__left-panel page-width--mobile">
			<div class="ingredients__image-container">
				{% assign ingredient_attr_1 = 'data-scroll-reveal="' | append : Settings.ingredient_speed_1 | append : '"' %}
				{% assign ingredient_attr_2 = 'data-scroll-reveal="' | append : Settings.ingredient_speed_2 | append : '"' %}
				{% assign ingredient_id_1 = 'reveal-' | append : id | append : '-1' %}
				{% assign ingredient_id_2 = 'reveal-' | append : id | append : '-2' %}
				{% include 'image' with id:ingredient_id_1, attr:ingredient_attr_1, img : Settings.ingredient_1, classes : 'ingredients__ingredient ingredients__ingredient-1' %}
				{% include 'image' with id:ingredient_id_2, attr:ingredient_attr_2, img : Settings.ingredient_2, classes : 'ingredients__ingredient ingredients__ingredient-2' %}
				{% include 'image' with img : Settings.image, classes : 'ingredients__image only-desktop border--desktop' %}

			</div>
		</div>
		<div class="ingredients__right-panel">
			<div class="ingredients__text-container border--desktop bg--color align-center page-width--mobile">
				<h2 class="z-h2 heading ingredients__title">{{ Settings.title }}</h2>
				<div class="grid">
					{% for i in (1..7) %}
					{% capture current %}{% cycle 1, 2, 3, 4, 5, 6, 7 %}{% endcapture %}
					{% assign titleKey = 'title_' | append : current %}
					{% assign imageKey = 'picto_' | append : current %}
					{% if Settings[titleKey] == blank %}{% continue %}{% endif %}
						<div class="grid__cell 1/2 ingredients__picto-container">
							<img class="ingredients__picto" src="{{ Settings[imageKey] | img_url : '100x'}}" alt="{{ Settings[imageKey].alt }}" />
							<h3 class="secondary ingredients__picto-title">{{ Settings[titleKey] }}</h3>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</section>
