<div class="container--medium adresses customer--container">

  {% assign linkText = 'customer.account.return' | t %}
  {% include 'arrow-button' with left_arrow:true, href:'/account', text:linkText, classes:'secondary' %}

  {% paginate customer.addresses by 6 %}

    <div id="address__details">
      <h1 class="heading z-h2 mt-20 address__title">{{ 'customer.addresses.title' | t }}</h1>
      <div class="grid address__title">
        {% for address in customer.addresses %}
          <div class="grid__cell 1/2--desk">
            <p>
              Adresse n° {{ forloop.index }}
              {% if address == customer.default_address %}
                ({{ 'customer.addresses.default' | t }})
              {% endif %}
            </p>
            {{ address | format_address }}

            <button type="button" class="address-edit-toggle button" data-form-id="{{ address.id }}">
              {{ 'customer.addresses.edit' | t }}
            </button>

            <button type="button" class="address-delete button" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
              {{ 'customer.addresses.delete' | t }}
            </button>

            <div id="EditAddress_{{ address.id }}" class="hide address__title">
              {% form 'customer_address', address %}
              <h2 class="heading h2 mt-20">{{ 'customer.addresses.edit_address' | t }}</h2>

              <div class="grid address__form">
            	<div class="grid__cell 1/2--desk">
            		<label for="AddressFirstName_{{ form.id }}">
            			{{ 'customer.addresses.first_name' | t }}
            		</label>
            		<input class="input--customer" type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}" value="{{ form.first_name }}" autocapitalize="words">
            	</div>

            	<div class="grid__cell 1/2--desk">
            		<label for="AddressLastName_{{ form.id }}">
            			{{ 'customer.addresses.last_name' | t }}
            		</label>
            		<input class="input--customer" type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}" value="{{ form.last_name }}" autocapitalize="words">
            	</div>

            	<div class="grid__cell">
            		<label for="AddressCompany_{{ form.id }}">
            			{{ 'customer.addresses.company' | t }}
            		</label>
            		<input class="input--customer" type="text" name="address[company]" id="AddressCompany_{{ form.id }}" value="{{ form.company }}" autocapitalize="words">
            	</div>

            	<div class="grid__cell 1/2--desk">
            		<label for="AddressAddress1_{{ form.id }}">
            			{{ 'customer.addresses.address1' | t }}
            		</label>
            		<input class="input--customer" type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}" value="{{ form.address1 }}" autocapitalize="words">
            	</div>

            	<div class="grid__cell 1/2--desk">
            		<label for="AddressAddress2_{{ form.id }}">
            			{{ 'customer.addresses.address2' | t }}
            		</label>
            		<input class="input--customer" type="text" name="address[address2]" id="AddressAddress2_{{ form.id }}" value="{{ form.address2 }}" autocapitalize="words">
            	</div>

            	<div class="grid__cell 1/2--desk">
            		<label for="AddressCity_{{ form.id }}">
            			{{ 'customer.addresses.city' | t }}
            		</label>
            		<input class="input--customer" type="text" name="address[city]" id="AddressCity_{{ form.id }}" value="{{ form.city }}" autocapitalize="words">
            	</div>

            	<div class="grid__cell 1/2--desk">
            		<label for="AddressCountry_{{ form.id }}">
            			{{ 'customer.addresses.country' | t }}
            		</label>
            		<select class="input--customer select--customer" name="address[country]" id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}"  data-default="{{ form.country }}">
            			{{ country_option_tags }}
            		</select>
            	</div>

            	<div class="grid__cell">
            		<div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
            			<label for="AddressProvince_{{ form.id }}">
            			{{ 'customer.addresses.province' | t }}
            			</label>
            			<select class="input--customer select--customer" name="address[province]" id="AddressProvince_{{ form.id }}" data-default="{{ form.province }}"></select>
            		</div>
            	</div>

            	<div class="grid__cell 1/2--desk">
            		<label for="AddressZip_{{ form.id }}">
            			{{ 'customer.addresses.zip' | t }}
            		</label>
            		<input class="input--customer" type="text" name="address[zip]" id="AddressZip_{{ form.id }}" value="{{ form.zip }}" autocapitalize="characters">
            	</div>

            	<div class="grid__cell 1/2--desk">
            		<label for="AddressPhone_{{ form.id }}">
            			{{ 'customer.addresses.phone' | t }}
            		</label>
            		<input class="input--customer" type="tel" name="address[phone]" id="AddressPhone_{{ form.id }}" value="{{ form.phone }}" pattern="[0-9\-]*">
            	</div>

            	<div class="grid__cell">
            		{{ form.set_as_default_checkbox }}
            		<label for="address_default_address_{{ form.id }}">
            			{{ 'customer.addresses.set_default' | t }}
            		</label>
            	</div>

            	<div class="grid__cell 1/2--desk mt-10 address__title">
            		<input type="submit" class="button" value="{{ 'customer.addresses.update' | t }}">
            	</div>

            	<div class="grid__cell 1/2--desk mt-10 address__title">
            		<button type="button" class="address-edit-toggle button" data-form-id="{{ form.id }}">
            			{{ 'customer.addresses.cancel' | t }}
            		</button>
            	</div>
              </div>

              {% endform %}
            </div>

          </div>
        {% endfor %}
      </div>
      <div class="mt-20 address__add">
        <button type="button" class="button address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
      </div>
    </div>

    <div id="AddressNewForm" class="hide address__form">
    	{% form 'customer_address', customer.new_address %}
    	<h2 class="heading h2 mt-20">{{ 'customer.addresses.add_new' | t }}</h2>

    	<div class="grid address__title">
    		<div class="grid__cell 1/2--desk">
    			<label for="AddressFirstNameNew">
    				{{ 'customer.addresses.first_name' | t }}
    			</label>
    			<input class="input--customer" type="text" name="address[first_name]" id="AddressFirstNameNew" value="{{ form.first_name }}" autocapitalize="words">
    		</div>

    		<div class="grid__cell 1/2--desk">
    			<label for="AddressLastNameNew">
    				{{ 'customer.addresses.last_name' | t }}
    			</label>
    			<input class="input--customer" type="text" name="address[last_name]" id="AddressLastNameNew" value="{{ form.last_name }}" autocapitalize="words">
    		</div>

    		<div class="grid__cell">
    			<label for="AddressCompanyNew">
    				{{ 'customer.addresses.company' | t }}
    			</label>
    			<input class="input--customer" type="text" name="address[company]" id="AddressCompanyNew" value="{{ form.company }}" autocapitalize="words">
    		</div>

    		<div class="grid__cell 1/2--desk">
    			<label for="AddressAddress1New">
    				{{ 'customer.addresses.address1' | t }}
    			</label>
    			<input class="input--customer" type="text" name="address[address1]" id="AddressAddress1New" value="{{ form.address1 }}" autocapitalize="words">
    		</div>

    		<div class="grid__cell 1/2--desk">
    			<label for="AddressAddress2New">
    				{{ 'customer.addresses.address2' | t }}
    			</label>
    			<input class="input--customer" type="text" name="address[address2]" id="AddressAddress2New" value="{{ form.address2 }}" autocapitalize="words">
    		</div>

    		<div class="grid__cell 1/2--desk">
    			<label for="AddressCityNew">
    				{{ 'customer.addresses.city' | t }}
    			</label>
    			<input class="input--customer" type="text" name="address[city]" id="AddressCityNew" value="{{ form.city }}" autocapitalize="words">
    		</div>

    		<div class="grid__cell 1/2--desk">
    			<label for="AddressCountryNew">
    				{{ 'customer.addresses.country' | t }}
    			</label>
    			<select class="input--customer select--customer" name="address[country]" id="AddressCountryNew" data-default="{{ form.country }}">
    				{{ country_option_tags }}
    			</select>
    		</div>

    		<div class="grid__cell">
    			<div id="AddressProvinceContainerNew" style="display: none">
    				<label for="AddressProvinceNew">
    				{{ 'customer.addresses.province' | t }}
    				</label>
    				<select class="input--customer select--customer" name="address[province]" id="AddressProvinceNew" data-default="{{ form.province }}"></select>
    			</div>
    		</div>

    		<div class="grid__cell 1/2--desk">
    			<label for="AddressZipNew">
    				{{ 'customer.addresses.zip' | t }}
    			</label>
    			<input class="input--customer" type="text" name="address[zip]" id="AddressZipNew" value="{{ form.zip }}" autocapitalize="characters">
    		</div>

    		<div class="grid__cell 1/2--desk">
    			<label for="AddressPhoneNew">
    				{{ 'customer.addresses.phone' | t }}
    			</label>
    			<input class="input--customer" type="tel" name="address[phone]" id="AddressPhoneNew" value="{{ form.phone }}" pattern="[0-9\-]*">
    		</div>

    		<div class="grid__cell">
    			{{ form.set_as_default_checkbox }}
    			<label for="address_default_address_new">
    				{{ 'customer.addresses.set_default' | t }}
    			</label>
    		</div>

    		<div class="grid__cell 1/2--desk mt-10 address__title">
    			<input type="submit" class="button button--secondary" value="{{ 'customer.addresses.add' | t }}">
    		</div>

    		<div class="grid__cell 1/2--desk mt-10 address__title">
    			<button type="button" class="button address-new-toggle" data-form-id="{{ form.id }}">
    				{{ 'customer.addresses.cancel' | t }}
    			</button>
    		</div>

    	</div>
    	{% endform %}
    </div>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
</div>
