<div class="form-reset-password container--small customer--container align-center">
  {% form 'reset_customer_password' %}

    <h1>{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {{ form.errors | default_errors }}

    <div class="reset__fields">
      <label for="ResetPassword" class="label-hidden">
        {{ 'customer.reset_password.password' | t }}
      </label>
      <input type="password"
        name="customer[password]"
        data-reset-password-password
        id="ResetPassword"
        class="input--customer {% if form.errors contains 'password' %}input-error{% endif %}"
        placeholder="{{ 'customer.reset_password.password' | t }}">

      <label for="PasswordConfirmation" class="label-hidden">
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
      <input type="password"
        name="customer[password_confirmation]"
        data-reset-password-confirmation
        id="PasswordConfirmation"
        class="input--customer {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

      <input data-reset-password-submit type="submit" class="button button--secondary" value="{{ 'customer.reset_password.submit' | t }}">
    </div>
  {% endform %}
</div>

<script>
window.addEventListener("load", function(event) {
	setCookie('login', true, 0.1);
});
</script>
