{% assign product_update = settings.product_update %}
{% assign product_delivery_each = settings.product_delivery_each %}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <div class="container">
    <div class="grid relative">
      <div class="grid__cell 1/2--desk product__images-container">
        {% if product.images.size > 1 %}
        <div class="grid">
          <div class="grid__cell 1/6--desk">
            <ul class="product__images">
              {% for image in product.images %}
                <li class="product__mini-image {% if image == featured_image %}active{% endif %}">
                  <img src="{{ image.src | img_url: '160x160', crop : 'center' }}" alt="{{ image.alt | escape }}">
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="grid__cell 5/6--desk hide--pocket">
            {% if featured_image != blank %}
            {% include 'image' with img : featured_image, classes : 'full-width', attr : 'data-product-featured-image' %}
            {% endif %}
          </div>
          <div class="grid__cell">
            <div class="grid">
              <div class="grid__cell 1/6--desk hide--pocket">
              </div>
              <div class="grid__cell 5/6--desk">
                <div class="grid align-center">
                  {% for picto in product.metafields.pictos %}
                  <div class="grid__cell 1/3">
                    <img class="product__picto" src="{{ picto | last }}" alt="{{ picto | first }}" />
                    <div class="">{{ picto | first }}</div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        {% include 'image' with img : featured_image, classes : 'full-width', attr : 'data-product-featured-image' %}
        {% endif %}
      </div>
      <div class="grid__cell 1/2--desk">
        <h1 class="heading z-h2 product__type">{{ product.type }}</h1>
        <h2 class="heading z-h3 product__title">{{ product.title }}</h1>
        <div class="rte">
          {{ product.description }}
        </div>
        <div>
          <form action="/cart/add" method="post" enctype="multipart/form-data">
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js">
                  <label for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>

                  <select
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}">
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" class="no-js" data-product-select>
              {% for variant in product.variants %}
                <option
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
              {% endfor %}
            </select>

            <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1">

            <div data-price-wrapper>
              <span data-product-price>
                {{ current_variant.price | money }}
              </span>

              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
            </div>

            <button
              type="submit"
              name="add"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span data-add-to-cart-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
            </button>
          </form>
        </div>

        <div>
          <div class="product-accordion" data-accordion data-allow-toggle>
            {% for field in product.metafields.accordion %}
            <div class="product-accordion__question" data-accordion-trigger aria-expanded="false" aria-controls="#faq-group-{{- id -}}-{{- forloop.index -}}">
              {{ field | first }}
              <div class="product-accordion__rotate">
                +
              </div>
            </div>
            <div class="product-accordion__answer" id="faq-group-{{- id -}}-{{- forloop.index -}}" data-accordion-panel>
              {{ field | last | newline_to_br }}
            </div>
            {% endfor %}
          </div>
        </div>


        {% unless product == empty %}
          <script type="application/json" data-product-json>
            {{ product | json }}
          </script>
        {% endunless %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
